/* @define btn */
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 32px;
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 155%;
    text-align: center;
    color: var(--text1);
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--brand);
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--brand);
        color: var(--text-inverse);
    }

    &:disabled {
        background-color: transparent;
        border-color: var(--brand);
        color: var(--text1);
        opacity: 0.5;
        cursor: default;
    }

    &:active {
        opacity: 0.9;
    }
}
